<%i=0 %>
<% @aids.each do %>
  <%i+=1 %>
<% end %>

<div style='width: 1090px;'>
  <div id="map" style='width: 1080px; height: 400px;'></div>
  <h5 style="font-family: serif; text-align: center">Yard覺m bekleyen say覺s覺: <%= i %></h5>
</div>
<br>
<h3 style="font-family: serif; text-align: center">Sosyal Yard覺m Nedir?</h3>
<p style="aling: center">

</p>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
